@model  Villa

<div class="w-100 card border-0 p-4">

    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Remove Villa</h2>
            </div>
        </div>
    </div>

    <div class=" card-body border">
        <form method="post" asp-action="Remove">
            <input asp-for="Id" hidden />
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" disabled type="text" class="form-control">
               
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input asp-for="Description" disabled type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label">Price per night</label>
                <input asp-for ="Price" disabled type="number" class="form-control">
      
            </div>
            <div class="mb-3">
                <label asp-for="Sqft" class="form-label">Sqft</label>
                <input asp-for="Sqft" disabled type="number" class="form-control">
                
            </div>
            <div class="mb-3">
                <label asp-for="Occupancy" class="form-label">Occupancy</label>
                <input asp-for="Occupancy" disabled type="number" class="form-control">
           
            </div>
            <div class="mb-3">
                <label asp-for="ImageUrl" class="form-label">Photo</label>
                <input asp-for="ImageUrl" disabled type="file" class="form-control">
            </div>


            <div class=" mx-auto btn-group-lg m-2 ">
                <button class="w-25 btn btn-success"  asp-action="Remove">
                    Remove
                </button>
                <a asp-controller="Villa" asp-action="Index" class="w-25 btn btn-secondary">
                    Close
                </a>
            </div>


        </form>
    </div>

</div>