@model AmenityVM

<div style="margin-left:250px;" class="w-75   card border-0 p-4">

    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Amenity.Id != 0 ? "Update " : "Create ") Amenity</h2>
            </div>
        </div>
    </div>



    <div class=" card-body border">
        <form method="post" class="row">
            <input asp-for="Amenity.Id" hidden />
            <div class="pb-3">

                <div class="form-floating py-1 col-12">
                    <input class="form-control border shadow " asp-for="Amenity.Name" />
                    <label asp-for="Amenity.Name" class="ms-2"> Amenity Name</label>
                </div>

                <div class="form-floating py-1 col-12">
                    <select asp-for="@Model.Amenity.VillaId" asp-items="@Model.VillasList"
                            class="form-select border shadow">
                        <option selected>--Select Villa--</option>
                    </select>
                </div>


                <div class=" mx-auto btn-group-lg m-2 ">
                    <button class="w-25 btn btn-success" asp-controller="VillaAmenity" asp-action="Upsert">
                        Create
                    </button>
                    <a asp-controller="VillaAmenity" asp-action="Index" class="w-25 btn btn-secondary">
                        Close
                    </a>
                </div>
            </div>
        </form>
    </div>


</div>